<% include ../partials/header %>

<div class="jumbotron p-3">
    <div class="container text-center">
        <h1 class="display-4">Where Dogs Find Their People</h1>
        <p class="lead">Thousands of adoptable dogs are looking for people. People like you.</p>
        <a class="btn btn-outline-primary" href="/dogs/new" role="button"><i class="fas fa-paw"></i> Add a new dog</a>
    </div>
</div>

<div class="text-cebter">
    <% dogs.forEach(dog => { %>
        <h4><%= dog.name %></h4>
        <div class="card" style="width: 18rem;">
            <img src="<%= dog.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= dog.name %></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    <% }); %>
</div>


<% include ../partials/footer %>