<% include ../partials/header %>

<div class="container">
    <form action="/dogs" method="POST">

        <div class="row text-center pb-4 pt-2">
            <div class="col">
                <h2 class="display-5"><i class="fas fa-paw"></i> Add A New Dog For Adoption:</h1>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-sm-5">
                <div class="form-group">
                    <input class="form-control" type="text" name="dog[name]" placeholder="name" required>
                </div>
            </div>
            <div class="col-sm-5 ">
                <div class="form-group">
                    <input class="form-control" type="text" name="dog[breed]" placeholder="breed" required>
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-sm-5">
                <div class="form-group">
                    <input class="form-control" type="text" name="dog[address]" placeholder="location address" required>
                </div>
            </div>
            <div class="col-sm-5 ">
                <div class="form-group">
                    <input class="form-control" type="text" name="dog[image]" placeholder="image url" required>
                </div>
            </div>
        </div>

        <div class="row pl-2">
            <div class="col pl-5">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="dog[age]" id="puppy" value="puppy" class="custom-control-input" required>
                    <label class="custom-control-label" for="puppy">Puppy</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="dog[age]" id="adult" value="adult" class="custom-control-input">
                    <label class="custom-control-label" for="adult">Adult</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="dog[age]" id="senior" value="senior" class="custom-control-input">
                    <label class="custom-control-label" for="senior">Senior</label>
                </div>
            </div>
        </div>

        <div class="row pl-2">
            <div class="col pl-5">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="dog[gender]" id="male" value="male" class="custom-control-input" required>
                    <label class="custom-control-label" for="male">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="dog[gender]" id="female" value="female" class="custom-control-input">
                    <label class="custom-control-label" for="female">Female</label>
                </div>
            </div>
        </div>

        <div class="row pl-2">
            <div class="col pl-5">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="dog[size]" id="small" value="small" class="custom-control-input" required>
                    <label class="custom-control-label" for="small">Small</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="dog[size]" id="medium" value="medium" class="custom-control-input">
                    <label class="custom-control-label" for="medium">Medium</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="dog[size]" id="large" value="large" class="custom-control-input">
                    <label class="custom-control-label" for="large">Large</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-around pt-3">
            <div class="col-11">
                <div class="form-group">
                    <textarea class="form-control" rows="6" name="dog[description]" placeholder="description" required></textarea>
                </div>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="col-2">
                <div class="form-group">
                    <button class="btn btn-lg btn-primary" type="submit">Submit!</button>
                </div>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col">
            <a href="/dogs">Go Back</a>
        </div>
    </div>

</div>

<% include ../partials/footer %>